## Server
XMLRPC_HOST="127.0.0.1"
XMLRPC_PORT=5000
XMLRPC_USER="SuperAdmin"
XMLRPC_PASS="SuperAdmin"
XMLRPC_LIMIT_SCRIPT_CALLBACKS=true  # Limit some rarely needed script callbacks for better performance. see "server.ts" for function: limitScriptCallbacks()
ERROR_REPORTING=true
# Compare version with a github branch, set "false" to disable
CHECKVERSION=main
# default timelimit, used for reset extends etc
TALIMIT=300

# database connection string examples:
# DATABASE="postgres://user:pass@127.0.0.1:5432/databaseName"
# DATABASE="mysql://user:pass@127.0.0.1:3306/databaseName"
# DATABASE="sqlite://userdata/local.sqlite"

DATABASE="sqlite://userdata/local.sqlite"

## Controller

# comma separated list of admins for the server
ADMINS=""

# Use PLUGINS for an inclusive whitelist of plugins to load.
# Leave empty to auto-discover all plugins.

PLUGINS=""
EXCLUDED_PLUGINS="tmnf/dedimania, tmnf/freezone, tmnf/coplanets"

# set ansilevel:
# 0 = no color, 1 = 4bit color (console), 2 = 24bit color (rgb)
ANSILEVEL=1
WRITELOG=false

# Debug info.. or not
DEBUG=false
# debug gbx callbacks
DEBUG_GBX=false
# use debug gbx counters?
DEBUG_GBX_COUNTERS=false
## 1 for general debugging, 2 for sql queries, 3 for trace message caller
DEBUGLEVEL=1

## Plugins
FREEZONE_PASS=""
DEDIMANIA_PASS=""

# uncomment next line to force openplanet mode for tm2020:  Regular, DevMode, Official, Competition
# FORCE_OP_MODE="OFFICIAL"

# Fonts (available: RajdhaniMono, Oswald, OswaldMono, GameFontBlack, GameFontRegular, GameFontSemiBold, GameFontExtraBold, RobotoCondensed, RobotoCondensedBold, Nadeo/Trackmania/BebasNeueRegular, Arial)
# FONT_BUTTON="RobotoCondensedBold"
# FONT_TITLE="RobotoCondensedBold"
# FONT_LABEL="RobotoCondensedBold"
# FONT_WIDGET="RobotoCondensed"
# FONT_MENU="GameFontSemiBold"

# TMF only
# Uncomment lines and add the URL for the mod to force
# Example: FORCEMODS_URL_BAY="https://example.com/mod.zip"

# FORCEMODS_URL_ALPINE=""
# FORCEMODS_URL_BAY=""
# FORCEMODS_URL_COAST=""
# FORCEMODS_URL_ISLAND=""
# FORCEMODS_URL_RALLY=""
# FORCEMODS_URL_SPEED=""
# FORCEMODS_URL_STADIUM=""

# Uncomment this if you want to override mods of tracks
# FORCEMODS_OVERRIDE_TRACKMOD="true"